body {
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.pinterest.com%2Fpin%2F662099582750717197%2F&psig=AOvVaw3Zm-d4uvSivJcweLtNIIQn&ust=1729981740635000&source=images&cd=vfe&opi=89978449&ved=0CBQQjhxqFwoTCPDS5avKqokDFQAAAAAdAAAAABAE);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}