body {
    background: url("https://i.pinimg.com/originals/1d/3d/bf/1d3dbf048330590da90564fc6404451a.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}