header {
    background-color: #272727;
    color: #ddd;
    padding: 0px 10%;
    height: 5.5em;
    justify-content: space-between;
    box-shadow: #000000;
}
header, .navegation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.navegation_header {
    gap: 0px;
    text-decoration: none;
    color: var(#ddd);
    transition: 0,5s;
    font-weight: bold;
    font-family: 'Comic sans MS';
}