header {
    background-color: #272727;
    padding: 0px 10%;
    height: 5.5em;
    justify-content: space-between;
    box-shadow: 1px 1px 4px #000000;
}
header, .navegation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #ddd;
}
.navegation_header {
    gap: 3em;
    z-index: 2;
}
.navegation_header a{
    text-decoration: none;
    color:#ddd;
    font-family: "Comic sans MS";
    font-weight: bold;
}
.active {
    background-color: #5e5252;
    padding: 10px;
    border-radius: 10%;
}

#navegation_header {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
