body {
    background: linear-gradient(45deg, red, blue);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Comic sans MS';
}
header {
    font-family: 'Comic sans MS';
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
}
div {
    padding-top: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    padding: 25px;
}
input {
    padding: 1em;
    outline: none;
    font-size: 13px;
}
button {
    background-color: dodgerblue;
    padding: 1em;
    border-radius: 1em;
    border: none;
    width: 100%;
    color: #fff;
    font-family: 'Comic sans MS';
    font-size: 1em;
}
button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}